---
import Section from '@/components/sections/Section.astro'
import HtmlHeading from '@/components/shared/HtmlHeading.astro'
import Icon from '@/components/shared/Icon.astro'
import type {
  AssetStoryblok,
  ProjectCarouselStoryblok,
} from '@/types/storyblok'
import { fetchStories } from '@/utils/storyblok'
import type { SbBlokData } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import clsx from 'clsx'
import CarouselImageLink from '../shared/CarouselImageLink.astro'
import { buildFilterQueryFromFields } from '@/utils/storyblok/datasource-field-mapping'
import { getSbLanguageFromLocale } from '@/utils/storyblok/i18n'

type CarouselImageLinkProps = {
  title: string
  image: AssetStoryblok
  url: string
  aspectRatio?: string
}
type Item = CarouselImageLinkProps | SbBlokData

export type Props = {
  class?: string
  blok: ProjectCarouselStoryblok
}

const { class: className, blok } = Astro.props
const sbLang = getSbLanguageFromLocale(Astro.currentLocale)

const numItems = parseInt(blok.numItems) ?? 5
const filter_query =
  buildFilterQueryFromFields({
    staircaseTypes: blok.staircaseTypes,
    staircaseShapes: blok.staircaseShapes,
    staircaseStyles: blok.staircaseStyles,
    railingMaterials: blok.railingMaterials,
    handrailMaterials: blok.handrailMaterials,
    staircaseMaterials: blok.staircaseMaterials,
    stairTreadMaterials: blok.stairTreadMaterials,
    railings: blok.railings,
    floors: blok.floors,
  }) ?? {}

filter_query['featured'] = { is: blok.featured }
filter_query['outdoor'] = { is: blok.outdoor }

// TODO: Add 'featured' field to Storyblok
const storiesQuery = {
  language: sbLang,
  by_slugs: 'global/projects/*',
  content_type: 'Project',
  per_page: numItems,
  ...(filter_query ? { filter_query } : undefined),
  sort_by: 'sort_by_date:desc,published_at:desc,created_at:desc',
}
const stories = await fetchStories(storiesQuery)

// TODO: Resolve links --> 'items/sample-project'
const items: Item[] =
  stories?.map((story) => {
    const { content } = story
    return {
      title: content.title,
      image: content.cover?.filename ? content.cover : content.image,
      url: story.full_slug,
    }
  }) ?? []

const [textCard] = blok.textCards ?? []
if (textCard) {
  if (items?.length > 1) {
    items.splice(2, 0, textCard)
  } else {
    items.push(textCard)
  }
}

const sizes = {
  '4/3': {
    track: clsx(
      'auto-cols-[calc(100%_-_var(--gap))] md:auto-cols-[calc((100%_-_var(--gap))_/_2)] lg:auto-cols-[calc((100%_-_var(--gap)_-_var(--gap))_/_3)]',
    ),
    sizes:
      'min-width(1024px) calc((100vw - var(--offset-wide) * 2 - var(--gap) * 2) / 3), min-width(768px) calc((100vw - var(--offset-wide) * 2 - var(--gap)) / 2), calc(100vw - var(--offset-content) * 2 - var(--gap))',
  },
  '1/1': {
    track: clsx(
      'auto-cols-[calc(100%_-_var(--gap))] md:auto-cols-[calc((100%_-_var(--gap))_/_2)] lg:auto-cols-[calc((100%_-_var(--gap)_-_var(--gap))_/_3)]',
    ),
    sizes:
      'min-width(1024px) calc((100vw - var(--offset-wide) * 2 - var(--gap) * 2) / 3), min-width(768px) calc((100vw - var(--offset-wide) * 2 - var(--gap)) / 2), calc(100vw - var(--offset-content) * 2 - var(--gap))',
  },
  '16/9': {
    track: clsx('auto-cols-[calc(100%_-_var(--gap))] lg:auto-cols-full'),
    sizes:
      'min-width(1024px) calc(100vw - var(--offset-wide) * 2), calc(100vw - var(--offset-content) * 2 - var(--gap))',
  },
}
const sizeConfig = sizes[blok.aspectRatio ?? '1/1'] ?? sizes['1/1']
---

<Section
  blok={blok}
  defaultSpacing="md"
  class={clsx('area', className)}
  x-data="carousel"
>
  <div class="area-content flex">
    {
      blok.headline && (
        <HtmlHeading
          class="text-24 leading-140 lg:text-36"
          order={blok.headingOrder}
        >
          {blok.headline}
        </HtmlHeading>
      )
    }
    <div class="ml-auto flex flex-none items-end">
      <button
        type="button"
        class="group flex h-10 w-10 cursor-pointer items-center justify-center"
        data-carousel-prev
        x-on:click="() => prev()"
      >
        <Icon
          name="chevron-left"
          class="h-5 w-5 hovers:transition hovers:group-hover:animate-point-left hovers:group-hover:text-spark"
        />
      </button>
      <button
        type="button"
        class="group flex h-10 w-10 cursor-pointer items-center justify-center"
        data-carousel-next
        x-on:click="() => next()"
      >
        <Icon
          name="chevron-right"
          class="h-5 w-5 hovers:transition hovers:group-hover:animate-point-right hovers:group-hover:text-spark"
        />
      </button>
    </div>
  </div>
  {
    items?.length > 0 && (
      <div class="area-full">
        <ul
          class={clsx(
            'grid grid-flow-col gap-x-xs',
            'scroll-px-offset-wide px-offset-wide',
            'scrollbar-hidden snap-x snap-mandatory overflow-x-auto overflow-y-hidden',
            'py-8', // allows shadow effects to be visible
            sizeConfig.track,
          )}
          data-carousel-track
        >
          {items.map((item) => (
            <li class={clsx('block w-full flex-none snap-start')}>
              {(item as unknown as SbBlokData).component ? (
                <StoryblokComponent
                  blok={item}
                  aspectRatio={blok.aspectRatio}
                />
              ) : (
                <CarouselImageLink
                  {...(item as CarouselImageLinkProps)}
                  aspectRatio={blok.aspectRatio}
                  pictureSizes={sizeConfig.sizes}
                />
              )}
            </li>
          ))}
        </ul>
      </div>
    )
  }
</Section>
